player-connection-mode=Listen
player-connection-guid=877102569
player-connection-debug=1
player-connection-project-name=BallsRoyale
player-connection-ip=26.138.14.65
player-connection-ip=192.168.188.81
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7412e2bb9d3e48cdb3bd1b14c0d5dbda
